<div class="contain-chat">
  <% if current_user.username == @chat_room.title %>
    <% (@chat_room.users.uniq - [current_user]).each do |u| %>
      <h1><%= u.username %></h1>
    <% end %>
  <% else %>
    <h1><%= @chat_room.title %></h1>
  <% end %>

  <div class="chat-message-box" id="messages" data-chat-room-id="<%= @chat_room.id %>">
    <%= render @chat_room.messages %>
  </div>

<%= form_for @message, url: '#' do |f| %>
<div class="row">
  <div class="form-group" id="text-box">
    <%= f.text_area :body, class: 'form-control' %>
    <%= f.submit "Send", class: 'btn btn-primary btn-lg', display: "inline" %>
  </div>
</div>
<% end %>
</div>

<script>
$('#text-box').keypress(function(e){
      if(e.which == 13){
           $(this).closest('form').submit();
       }
    });
</script>
