<div class="contain-chat">
  <% if current_user.username == @chat_room.title %>
    <h1><%= @chat_room.users.first.username %></h1>
  <% else %>
    <h1><%= @chat_room.title %></h1>
  <% end %>

<div class="chat-message-box">
  <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
    <%= render @chat_room.messages %>
  </div>
</div>

<%= form_for @message, url: '#' do |f| %>
<div class="row">
  <div class="form-group" id="text-box">
    <%= f.text_area :body, class: 'form-control' %>
    <%= f.submit "Send", class: 'btn btn-primary btn-lg', display: "inline" %>
  </div>
</div>
<% end %>
</div>
