<div class="container">
  <div class='row'>
    <div class="col">
      <% if mobile_device == 'mobile' || mobile_device == 'tablet' %>
        <div class="contains-search">
          <%= form_tag(users_path, method: 'get', class: 'navbar-form navbar-right') do %>
            <%= search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for a user...'  %>
            <%= submit_tag "Search", class: 'btn btn-default', :name => nil %>
          <% end %>
        </div>
      <% end %>
      <% if current_user.favorited_users.any? && @favorites != nil %>
        <h3>Favorites</h3>
          <div>
            <% @favorites.each do |favorite| %>
              <div class='col-md-4'>
                <div class="profile-card">
                  <%= link_to image_tag("profile.jpg", class: "img-card"), favorite %></h3>
                  <h3><%= link_to favorite.username, favorite %></h3>
                  <h4>Time Sober: <%= favorite.years_sober %> years</h4>
                  <p>Catchphrase: "<%= favorite.catchphrase %>"</p>
                  <% if favorite.last_seen != nil %>
                    <small>Last seen: <%= favorite.last_seen.to_formatted_s(:short) %></small>
                  <% end %>
                  <%= form_for @chat_room, url: create_chat_path(@chat_room) do |f| %>
                    <div class="form-group">
                      <%= f.hidden_field :title,  :value => "#{favorite.username}" %>
                    </div>
                    <%= f.submit "Chat", class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class='row'>
    <div class="col">
      <h3>Users</h3>
      <% if @users.any? %>
      <% @users.each do |user| %>
        <div class='col-md-4'>
          <div class="profile-card">
            <%= link_to image_tag("profile.jpg", class: "img-card"), user %></h3>
            <h3><%= link_to user.username, user %></h3>
            <h4>Time Sober: <%= user.years_sober %> years</h4>
            <p>Catchphrase: "<%= user.catchphrase %>"</p>
            <% if user.last_seen != nil %>
              <small>Last seen: <%= user.last_seen.to_formatted_s(:short) %></small>
            <% end %>
            <%= form_for @chat_room, url: create_chat_path(@chat_room) do |f| %>
              <div class="form-group">
                <%= f.hidden_field :title,  :value => "#{user.username}" %>
              </div>

              <%= f.submit "Chat", class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% else %>
        <div class="contains-none">
          <h3>There are currently no active users! Check back soon!</h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
