<div class="row">
  <div class="contains-show">
    <%= image_tag 'profile.jpg', class: "img-show" %>
    <%= form_for @chat_room, url: create_chat_path(@chat_room) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :title,  :value => "Chat between #{@user.username} and #{current_user.username}" %>
        <%= f.hidden_field :username,  :value => "#{@user.username}" %>
      </div>

      <%= f.submit "Start a chat", class: 'btn btn-primary' %>
    <% end %>
    <h2><%= @user.username %></h2>
    <h3>
      Catchphrase: "<%= @user.catchphrase %>"</br>
    </h3>
    <h4>
      I have <%= @user.years_sober %> years sober
    </h4>
    <h4>
      My Story:
    </h4>
    <p>
      <%= @user.bio %>
    </p>
  </div>
</div>
